@model IEnumerable<TableInfo>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sol Menü: col-md-3 -->
        <div class="col-md-3">
            @await Html.PartialAsync("_Menu", Model)
        </div>
        <!-- Sağ Grid Alanı: col-md-9 -->
        <div class="col-md-9">
            <div id="gridContainer" class="mt-3">
                <p>Please select a table from the menu.</p>
            </div>
        </div>
    </div>
</div>
