
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


@model IEnumerable<TableInfo>
@{
    // Serialize model to JSON for use in the script.
    var tableInfosJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}
<div id="areaMenuContainer">
    <h4>Areas</h4>
    <!-- Global area search input -->
    <div class="mb-2">
        <input type="text" id="globalAreaSearch" class="form-control" placeholder="Search areas..." />
    </div>
    <!-- Area groups will be rendered via JavaScript -->
    <div id="areaMenu"></div>
</div>

<script>
    // Parse the TableInfo list from JSON.
    var tableInfos = @Html.Raw(tableInfosJson);

    // Renders the area menu, grouping tables by area. Each group is collapsible.
    function renderAreaMenuPartial() {
        var areaGroups = {};
        tableInfos.forEach(function(table) {
            if (!areaGroups[table.Area]) {
                areaGroups[table.Area] = [];
            }
            areaGroups[table.Area].push(table);
        });
        var html = "";
        for (var area in areaGroups) {
            html += '<div class="area-group mb-3" data-area="' + area + '">';
            html += '<div class="area-title" style="cursor: pointer;">' + area.toUpperCase() + ' <span class="toggle-indicator">[-]</span></div>';
            html += '<div class="area-content">';
            html += '<ul class="list-group">';
            areaGroups[area].forEach(function(table) {
                html += '<li class="list-group-item table-item" data-key="' + table.Key + '" data-area="' + table.Area + '">' + table.DisplayName + '</li>';
            });
            html += '</ul></div></div>';
        }
        $("#areaMenu").html(html);
        attachAreaMenuEventsPartial();
    }

    // Attaches events for the partial menu: toggling and search.
    function attachAreaMenuEventsPartial() {
        // Toggle collapse/expand on area title click.
        $(".area-title").on("click", function () {
            $(this).siblings(".area-content").slideToggle();
            var indicator = $(this).find(".toggle-indicator");
            if (indicator.text() === "[-]") {
                indicator.text("[+]");
            } else {
                indicator.text("[-]");
            }
        });
        // Global area search.
        $("#globalAreaSearch").on("keyup", function () {
            var searchVal = $(this).val().toLowerCase();
            $(".area-group").each(function () {
                var areaName = $(this).data("area").toLowerCase();
                $(this).toggle(areaName.indexOf(searchVal) > -1);
            });
        });
        // Area-specific table search (if needed, can be added inside each area).
        $(".area-search").on("keyup", function () {
            var searchVal = $(this).val().toLowerCase();
            $(this).siblings("ul").children(".table-item").each(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchVal) > -1);
            });
        });
        // Attach click event to table items will be done in the main view.
    }

    $(document).ready(function () {
        renderAreaMenuPartial();
    });
</script>
